
@font-face {
  font-family: "Corinthia";
  src: url("../fonts/Corinthia-Regular.ttf");
  font-weight: 400;
}
/*
---------------
Login
---------------
*/
header, main, footer{
  max-width: 1440px;
}


.login-form-container{

  background-color: #FADADD;
}
/*.ubuntu-25{
  font-size: 25px;
}
.ubuntu-15{
  font-size: 15px;
}*/
.login-form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 250px 100px 250px;
}

.login-form-container form ul{
  padding-left: 0px;
  width: 100%;

}
.login-form-container form ul li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: #26938e;
}

.login-form-container form ul li input{
  height: 30px;
  border-radius: 8px;
}

.login-form-container button{
  background-color: #c9ffb6;
  color: black;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  font-family: "Corinthia";
  font-size: 30px;

}

.login-form-container .return-forgot{
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding-top: 50px;
}
.return-forgot button{
  height: 40px;
  width: 40%;
}
.return-forgot .btn-bg-return-colour{
}
.return-forgot .btn-bg-forgot-colour{
}

/*
---------------
Main
---------------
*/

header{
  display: flex;
  justify-content: space-between;
  background-color: #c9ffb6;
}

.logo-about-prod-container{
  display: flex;
  width: 30%;
  justify-content: inherit;
  padding-top: 20px;
  padding-left: 20px;
}

.logo-about-prod-container img{
  width: 160%;
  margin: 0;
}

.login-cart-container{
  display: flex;
  width: 30%;
  justify-content: inherit;
  padding-top: 20px;
  padding-right: 20px;
}


.logo-about-prod-container a, .login-cart-container a {
  margin: 0;
  text-decoration: none;
  color: black;

}

.corinthina-30{
  font-family: "Corinthia";
  font-size: 30px;
}
.corinthina-40{
  font-family: "Corinthia";
  font-size: 40px;
}
.corinthina-25{
  font-family: "Corinthia";
  font-size: 25px;
}

.corinthina-15{
  font-family: "Corinthia";
  font-size: 15px;
}


.promo-container, .about-container{
  display: flex;
  width: 100%;
  background-color: #FADADD;
  margin: 0;
  padding-top: 50px;
}
.promo-container .promo-txt, .about-container .about-txt{
  width: 100%;
  padding: 50px 0 0 25px;

}
.promo-container .promo-img img, .about-container .about-img img{
  width: 100%;
  position: static;
  margin: 0;
}

.about-txt h3, .about-txt p{
  padding: 0 50px 0 50px;
}

.reverce{
  flex-direction: row-reverse;
}

.learn-more-container{
  display: flex;
  flex-direction: column;
  padding: 30px 300px;
  background-color: #FADADD;

}
.learn-more{
  justify-content: center;
  text-align: center;
}
.different-beers-btn {
  display: flex;
  justify-content: space-between;
}
.different-beers-btn button{
  font-family: "Corinthia";
  font-size: 25px;
  color: white;
  border-radius: 8px;
  height: 50px;
  width: 15%;
}

.light{
  background-color: #f6c101;
}

.dark{
  background-color: #290e05;
}

.unfiltered{
  background-color: #f28ec1;
}

.craft{
  background-color: #b84b3b;
}

footer{
  background-color: #c9ffb6;
  color: black;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}
.sotial-networks{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}
.networks-img{
  display: flex;
  justify-content: space-evenly;
}
.copyrights{
  display: flex;
  align-items: self-end;
  width: 100%;
  justify-content: end;
  padding-right: 25px;
}

/*
---------------
Product
---------------
*/
.product-container {
  display: flex;
  flex-direction: row;
  padding: 50px 20px;
  background-color: #FADADD;
}
.product-container .product-img-container{
  display: flex;
  justify-content: center;
  width: 50%;
}

.product-container .product-img-container img{
  width: 50%;
}
.product-descript-container {
  padding-left: 25px;
  padding-right: 25px;
}

.product-descript-container button{
  font-family: "Corinthia";
  font-size: 35px;
  color: brown;
  border-radius: 8px;
  height: 50px;
  background-color: #c9ffb6;
  width: 50%;
}

/*
---------------
Product list
---------------
*/

.product-list-container{
  display: flex;
  background-color: #FADADD;
  flex-direction: column;
}
.beer-categ h1{
  text-align: center;
  font-family: "Corinthia";
  font-size: 75px;
  border-top: 1px dashed #a9a9a9;
  border-bottom: 1px dashed #a9a9a9;

}
.product-light-list{
  display: flex;
}
.product-light-elem{
  padding: 20px 0 20px 0;
}
.product-light-elem .product{
  padding-left: 20px;
  padding-right: 20px;
}

.product-light-elem .product img{
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name-price-cart{
  display: flex;

}
.name-price-cart .name-price{
  width: 50%;
}
.name-price-cart .name-price h3,.name-price-cart .name-price p{
  margin: 0;
}

.name-price-cart .cart{
  width: 50%;
}

.name-price-cart .cart img{
  width: 40%;

}
/*
---------------
Shoping cart
---------------
*/
.cart-container{
  background-color: #FADADD;
  padding-top: 50px;
  padding-bottom: 50px;
}
.your-cart{
  text-align: center;
  font-weight: bold;
}

.products-in-cart{
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;


}
.prod{
  padding-top: 30px;
  border: 1px dashed #a9a9a9;
}
.prod img{
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.prod h3{
  text-align: center;
  margin: 0;
}

.prod p{
  text-align: end;
  margin: 0;
  padding: 20px;
}

.plus, .minus{
  width: 20%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
.numbers .plus img, .numbers .minus img{
  width: 100%;
}

.numbers{
  display: flex;
  padding-left: 50px;
}
.num-of-products{
  display: flex;
  align-items: center;
}

.total{
  display: flex;
  text-align: center;
}
.total-txt{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.total-txt h2, .total-txt h6{
  margin: 0;
}
.total .buy{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total .buy button{
  font-family: "Corinthia";
  font-size: 25px;
  color: brown;
  border-radius: 4px;
  height: 50px;
  background-color: #c9ffb6;
  width: 50%;
}
